<configuration>
    <!-- always a good activate OnConsoleStatusListener -->
    <!-- 监听Logback状态变化,立即输出到控制台 -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <!-- properties 配置 -->
    <springProperty scope="context" name="applicationName" source="spring.application.name"/>

    <property name="log.path" value="/data/log/opos-marketing"/>

    <!--appender规则-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/access.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>[%t{ISO8601}]|[${applicationName},%i{X-B3-TraceId},%i{X-B3-SpanId:-},%i{X-Span-Export:-}]|%A|%h|%i{X-Real-IP}|%u|"%r"|%s|%b|%D|"%i{Referer}"|"%i{User-Agent}"</pattern>
        </encoder>
    </appender>

    <appender-ref ref="FILE" />
</configuration>